<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ResourceBundle" value="true"/>
    <add key="ResourceDebug" value="true"/>
    <add key="ResourceStrict" value="true"/>
    <add key="ResourceMinify" value="true"/>
    <add key="ScriptsFolder" value="~/Content/cache/"/>
    <add key="StyleSheetFolder" value="~/Content/cache/"/>
  </appSettings>
</configuration>
